<section class="smallbox_cont">
  <div class="smallbox_tittle">
    <h1>Kemantapan <small>Jalan</small></h1>
    <hr />
  </div>
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="row_item">
        <div class="small-box">
          <div class="icon text-success">
            <img src="/asset/photoComponent/kemantapan/ruas.gif" alt="" />
          </div>
          <h3><%=data[0].jumlah_ruas%></h3>
          <p>Ruas Jalan</p>
          <a
            href="/kemantapan/jalan/table"
            class="btn btn-primary disabled-link"
            >More Info</a
          >
        </div>
      </div>
      <div class="row_item">
        <div class="small-box">
          <div class="icon text-success">
            <img src="/asset/photoComponent/kemantapan/road.gif" alt="" />
          </div>
          <h3><%=data[0].total_panjang%></h3>
          <p>Panjang Jalan (KM)</p>
          <a
            href="/kemantapan/jalan/table"
            class="btn btn-warning disabled-link"
            >More Info</a
          >
        </div>
      </div>
      <div class="row_item">
        <div class="small-box">
          <div class="icon text-warning">
            <img src="/asset/photoComponent/kemantapan/smile.gif" alt="" />
          </div>
          <h3><%=mantap.toFixed(2)%></h3>
          <p>Mantap (%)</p>
          <a
            href="/kemantapan/jalan/table"
            class="btn btn-success disabled-link"
            >More Info</a
          >
        </div>
      </div>
      <div class="row_item">
        <div class="small-box">
          <div class="icon text-warning">
            <img src="/asset/photoComponent/kemantapan/sad.gif" alt="" />
          </div>
          <h3><%=tidakmantap.toFixed(2)%></h3>
          <p>Tidak Mantap (%)</p>
          <a href="/kemantapan/jalan/table" class="btn btn-danger disabled-link"
            >More Info</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="chart_cont mt-5">
    <!-- Grafik -->
    <div>
      <h2>Grafik Kualitas Jalan</h2>
      <canvas id="chartJalan"> </canvas>
      <script>
        const Baik = `<%=data[0].jalan_baik %>`,
          Sedang = `<%=data[0].jalan_sedang %>`,
          Ringan = `<%=data[0].jalan_ringan %>`,
          Berat = `<%=data[0].jalan_berat %>`;
        const ctx = document.getElementById("chartJalan").getContext("2d");
        const kondisi = ["Baik", "Sedang", "Ringan", "Berat"];
        const value = [+Baik, +Sedang, +Ringan, +Berat];
        new Chart(ctx, {
          type: "bar",
          data: {
            labels: kondisi,
            datasets: [
              {
                label: "PANJANG (KM)",
                data: value,
                borderWidth: 1,
                backgroundColor: [
                  "rgba(75, 192, 192, 1)",
                  "rgba(255, 159, 64, 1)",
                  "rgba(255, 205, 86, 1)",
                  "rgba(255, 99, 132, 1)",
                ],
              },
            ],
          },
          options: {
            responsive:true,
            maintainAspectRatio: false,
            scales: {
              y: {
                beginAtZero: true,
                ticks: {
                  font: {
                    size: 20,
                    weight: "bold", // ukuran font untuk label sumbu x
                  },
                },
              },
              x: {
                ticks: {
                  font: {
                    size: 20,
                    weight: "bold", // ukuran font untuk label sumbu x
                  },
                },
              },
            },
            plugins: {
              legend: {
                labels: {
                  font: {
                    size: 20,
                  },
                },
              },
            },
          },
        });
      </script>
    </div>
  </div>
</section>
