<section class="smallbox_cont_jem">
  <div class="smallbox_tittle">
    <h1>Kemantapan <small>Jembatan</small></h1>
    <hr />
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="row_item">
        <div class="small-box">
          <div class="icon text-success">
            <img src="/../asset/photoComponent/kemantapan/jumlah.gif" alt="" />
          </div>
          <h3><%=data[0].jumlah_jembatan%></h3>
          <p>Jumlah Jembatan</p>
          <a
            href="/kemantapan/jembatan/table"
            class="btn btn-primary disabled-link"
            >More Info</a
          >
        </div>
      </div>
      <div class="row_item">
        <div class="small-box">
          <div class="icon text-success">
            <img
              src="/../asset/photoComponent/kemantapan/jembatan.png"
              alt=""
            />
          </div>
          <h3><%=data[0].total_panjang%></h3>
          <p>Panjang Jembatan (M)</p>
          <a
            href="/kemantapan/jembatan/table"
            class="btn btn-warning disabled-link"
            >More Info</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="chart_cont">
    <!-- <div class="mt-5">
      <h2 class="mb-4">Tabel Data Jembatan</h2>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Nama Ruas</th>
              <th scope="col">Kabupaten Id</th>
              <th scope="col">No. Jembatan</th>
              <th scope="col">Nama Jembatan</th>
              <th scope="col">Panjang (M)</th>
              <th scope="col">Struktur Atas</th>
              <th scope="col">Lantai</th>
              <th scope="col">Kondisi</th>
              <th scope="col">Jenis Penanganan</th>
              <th scope="col">Tahun</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>[066-01K] JLN.DAYANU ICHSANUDIN BTS. KAB.BUSEL</td>
              <td>Bau-Bau</td>
              <td>74.07501K.001</td>
              <td>S.UMBAKERE</td>
              <td>17.50</td>
              <td>BETON TAK BERTULANG</td>
              <td>BETON BERTULANG</td>
              <td>BAIK</td>
              <td>Pemeliharaan Rutin</td>
              <td>2023</td>
            </tr>
            <tr>
              <td>[066-01K] JLN.DAYANU ICHSANUDIN BTS. KAB.BUSEL</td>
              <td>Bau-Bau</td>
              <td>74.07501K.001</td>
              <td>S.UMBAKERE</td>
              <td>17.50</td>
              <td>BETON TAK BERTULANG</td>
              <td>BETON BERTULANG</td>
              <td>BAIK</td>
              <td>Pemeliharaan Rutin</td>
              <td>2023</td>
            </tr>
            <tr>
              <td>[066-01K] JLN.DAYANU ICHSANUDIN BTS. KAB.BUSEL</td>
              <td>Bau-Bau</td>
              <td>74.07501K.001</td>
              <td>S.UMBAKERE</td>
              <td>17.50</td>
              <td>BETON TAK BERTULANG</td>
              <td>BETON BERTULANG</td>
              <td>BAIK</td>
              <td>Pemeliharaan Rutin</td>
              <td>2023</td>
            </tr>
            <tr>
              <td>[066-01K] JLN.DAYANU ICHSANUDIN BTS. KAB.BUSEL</td>
              <td>Bau-Bau</td>
              <td>74.07501K.001</td>
              <td>S.UMBAKERE</td>
              <td>17.50</td>
              <td>BETON TAK BERTULANG</td>
              <td>BETON BERTULANG</td>
              <td>BAIK</td>
              <td>Pemeliharaan Rutin</td>
              <td>2023</td>
            </tr>
            <tr>
              <td>[066-01K] JLN.DAYANU ICHSANUDIN BTS. KAB.BUSEL</td>
              <td>Bau-Bau</td>
              <td>74.07501K.001</td>
              <td>S.UMBAKERE</td>
              <td>17.50</td>
              <td>BETON TAK BERTULANG</td>
              <td>BETON BERTULANG</td>
              <td>BAIK</td>
              <td>Pemeliharaan Rutin</td>
              <td>2023</td>
            </tr>
          </tbody>
        </table>
      </div>

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
              >Previous</a
            >
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div> -->

    <!-- Grafik -->
    <div>
      <h2>Grafik Kualitas Jembatan</h2>
      <canvas id="chartJembatan">
        <script>
          const Baik = `<%=data[0].jembatan_baik %>`,
            Sedang = `<%=data[0].jembatan_sedang %>`,
            Ringan = `<%=data[0].jembatan_ringan %>`,
            Berat = `<%=data[0].jembatan_berat %>`;
          const ctx = document.getElementById("chartJembatan").getContext("2d");
          const kondisi = ["Baik", "Sedang", "Ringan", "Berat"];
          const value = [+Baik, +Sedang, +Ringan, +Berat];
          new Chart(ctx, {
            type: "bar",
            data: {
              labels: kondisi,
              datasets: [
                {
                  label: "PANJANG (M)",
                  data: value,
                  borderWidth: 1,
                  backgroundColor: [
                    "rgba(75, 192, 192, 1)",
                    "rgba(255, 159, 64, 1)",
                    "rgba(255, 205, 86, 1)",
                    "rgba(255, 99, 132, 1)",
                  ],
                },
              ],
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true,
                  ticks: {
                    font: {
                      size: 20,
                      weight: "bold", // ukuran font untuk label sumbu x
                    },
                  },
                },
                x: {
                  ticks: {
                    font: {
                      size: 20,
                      weight: "bold", // ukuran font untuk label sumbu x
                    },
                  },
                },
              },
              plugins: {
                legend: {
                  labels: {
                    font: {
                      size: 20,
                    },
                  },
                },
              },
            },
          });
        </script>
      </canvas>
    </div>
  </div>
</section>
