<section class="smallbox_cont_jem">
  <div class="smallbox_tittle">
    <h1>Kemantapan <small>Jembatan</small></h1>
    <hr />
  </div>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="row_item">
        <div class="small-box">
          <div class="icon text-success">
            <img src="/asset/photoComponent/kemantapan/jumlah.gif" alt="" />
          </div>
          <h3><%=data[0].jumlah_jembatan%></h3>
          <p>Jumlah Jembatan</p>
          <a
            href="/kemantapan/jembatan/table"
            class="btn btn-primary disabled-link"
            >More Info</a
          >
        </div>
      </div>
      <div class="row_item">
        <div class="small-box">
          <div class="icon text-success">
            <img src="/asset/photoComponent/kemantapan/jembatan.png" alt="" />
          </div>
          <h3><%=data[0].total_panjang%></h3>
          <p>Panjang Jembatan (M)</p>
          <a
            href="/kemantapan/jembatan/table"
            class="btn btn-warning disabled-link"
            >More Info</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="chart_cont">
    <!-- Grafik -->
    <div>
      <h2>Grafik Kualitas Jembatan</h2>
      <canvas id="chartJembatan">
        <script>
          const Baik = `<%=data[0].jembatan_baik %>`,
            Sedang = `<%=data[0].jembatan_sedang %>`,
            Ringan = `<%=data[0].jembatan_ringan %>`,
            Berat = `<%=data[0].jembatan_berat %>`;
          const ctx = document.getElementById("chartJembatan").getContext("2d");
          const kondisi = ["Baik", "Sedang", "Ringan", "Berat"];
          const value = [+Baik, +Sedang, +Ringan, +Berat];
          new Chart(ctx, {
            type: "bar",
            data: {
              labels: kondisi,
              datasets: [
                {
                  label: "PANJANG (M)",
                  data: value,
                  borderWidth: 1,
                  backgroundColor: [
                    "rgba(75, 192, 192, 1)",
                    "rgba(255, 159, 64, 1)",
                    "rgba(255, 205, 86, 1)",
                    "rgba(255, 99, 132, 1)",
                  ],
                },
              ],
            },
            options: {
              responsive:true,
              maintainAspectRatio: false,
              scales: {
                y: {
                  beginAtZero: true,
                  ticks: {
                    font: {
                      size: 20,
                      weight: "bold", // ukuran font untuk label sumbu x
                    },
                  },
                },
                x: {
                  ticks: {
                    font: {
                      size: 20,
                      weight: "bold", // ukuran font untuk label sumbu x
                    },
                  },
                },
              },
              plugins: {
                legend: {
                  labels: {
                    font: {
                      size: 20,
                    },
                  },
                },
              },
            },
          });
        </script>
      </canvas>
    </div>
  </div>
</section>
