<hr class="line" />
<!-- Page Pelaksanaan -->
<section class="container-fluid galery_cont">
  <div class="h_galery">
    <h1>Dokumentasi <small>Pelaksanaan</small></h1>
    <hr />
  </div>
  <div class="result_cont">
    <ul class="results">
      <% data.forEach(d => { const getjudul = data2.find(pel=>pel.id === d.pelaksanaan_id ) %>
      <li class="result">
        <a
          href="/pel/<%=d.tahun_id  %>/<%=d.kabupaten_id  %>/detail/<%=d.pelaksanaan_id  %>"
        >
          <img src="<%=d.file_path %>" width="500" height="500" alt="" />
          <div class="overlay">
            <div class="text"><%= getjudul.judul %></div>
          </div>
        </a>
      </li>
      <% }) %>

    </ul>
  </div>
</section>
