<section class="container-sm pelaksanaan_cont">
  <div class="pelaksanaan_tittle">
    <h1>Dokumentasi <small>Pelaksanaan</small></h1>
    <hr />
  </div>

  <div class="row">
    <!-- Filter options -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="lokasi">Lokasi:</label>
        <!-- ===================================================================== -->
        <% const kotakab = kabkota.find((k)=>{ return k.id == +kabkotaenpoint}) %>
        <!-- ===================================================================== -->
        <h1 style="color: green"><%=kotakab.nama_kabupaten%></h1>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="tahun">Tahun:</label>
        <!-- ======================================================================= -->
        <% const tahunpel = tahun.find((year)=>{ return year.id == +tahunenpoint }) %>
        <!-- ======================================================================= -->
        <h1><%=tahunpel.tahun%></h1>
      </div>
    </div>
  </div>
  <!-- Card section -->

  <div class="row">
    <% data.forEach(d => { %>
    <!--========== ==Untuk mendapatkan Gambar Dokumentasi============================== -->
    <% const imgpeldok = dok.find((dok)=>{ return dok.pelaksanaan_id === +d.id
    }) %>
    <!-- ============================================================================== -->
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="<%=imgpeldok.file_path%>" alt="Dokumentasi" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a
                href="/pel/<%=d.tahun_id%>/<%=d.kabupaten_id%>/detail/<%=d.id%>"
                ><%= d.judul %></a
              >
            </h5>
            <p class="card-text"><%=d.deskripsi %></p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <% }) %>

    <!-- <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-2">
      <div class="card">
        <div class="card-body">
          <div class="card-img">
            <img src="/../asset/photo/pelaksanaan1.png" alt="" />
          </div>
          <div class="card-explain">
            <h5 class="card-title">
              <a href="/pelaksanaan/detail"
                >Rapat Perencanaan jalan bersama bapak Gubernur beserta staf</a
              >
            </h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <p><i class="bi bi-person-circle"></i> Admin</p>
            <p><i class="bi bi-clock"></i> Senin, 10 Juni 2024</p>
            <p><i class="bi bi-eye"></i> 30 views</p>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Repeat the card for more entries -->
  </div>
  <!-- Pagination -->
  <nav aria-label="Page navigation">
    <% if (totPage > 10) { %>
    <ul class="pagination">
      <% if (currentPage > 1) { %>
      <li class="page-item">
        <a class="page-link" href="/pel/<%=tahun%>/<%=kabkota%>?page=1"
          >First</a
        >
      </li>
      <li class="page-item disabled">
        <span class="page-link">...</span>
      </li>
      <% } %> <% for (let i = Math.max(1, currentPage - 2); i <=
      Math.min(currentPage + 2, totPage); i++) { %>
      <li class="page-item <% if (currentPage === i) { %>active<% } %>">
        <a class="page-link" href="/pel/<%=tahun%>/<%=kabkota%>?page=<%= i %>"
          ><%= i %></a
        >
      </li>
      <% } %> <% if (currentPage < totPage - 2) { %>
      <li class="page-item disabled">
        <span class="page-link">...</span>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="/pel/<%=tahun%>/<%=kabkota%>?page=<%= totPage %>"
          >Last</a
        >
      </li>
      <% } %>
    </ul>
    <% } else { %>
    <!-- Jika halaman tidak lebih dari 10, tampilkan semua nomor halaman -->
    <ul class="pagination">
      <% for (let i = 1; i <= totPage; i++) { %>
      <li class="page-item <% if (currentPage === i) { %>active<% } %>">
        <a class="page-link" href="/pel/<%=tahun%>/<%=kabkota%>?page=<%= i %>"
          ><%= i %></a
        >
      </li>
      <% } %>
    </ul>
    <% } %>
  </nav>
</section>
