<section class="tb_jbt_cont">
  <h1>Tabel <small>Jembatan</small></h1>
  <div class="table-responsive">
    <table class="table table-bordered container-custom">
      <thead>
        <tr>
          <th scope="col">Nama Ruas</th>
          <th scope="col">Kabupaten Id</th>
          <th scope="col">No. Jembatan</th>
          <th scope="col">Nama Jembatan</th>
          <th scope="col">Panjang (M)</th>
          <th scope="col">Struktur Atas</th>
          <th scope="col">Lantai</th>
          <th scope="col">Kondisi</th>
          <th scope="col">Jenis Penanganan</th>
          <th scope="col">Tahun</th>
        </tr>
      </thead>
      <tbody>
        <% data1.forEach(d => { const getkab = data2.find((dt2) => dt2.id ===
        d.kabupaten_id ); const getruas = data3.find((dt3) => dt3.id ===
        d.ruas_jalan_id ); const gettahun = data4.find((dt4) => dt4.id ===
        d.tahun_id ) %>
        <tr>
          <td><%=getruas.nama_ruas %></td>
          <td><%=getkab.nama_kabupaten %></td>
          <td><%=d.no_jembatan %></td>
          <td><%=d.nama_jembatan %></td>
          <td><%=d.panjang %></td>
          <td><%=d.struktur_atas %></td>
          <td><%=d.lantai %></td>
          <td><%=d.kondisi %></td>
          <td><%=d.jenis_penanganan %></td>
          <td><%=gettahun.tahun %></td>
        </tr>

        <% }) %>
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <nav aria-label="Page navigation">
    <% if (totPage > 10) { %>
    <ul class="pagination">
      <% if (currentPage > 1) { %>
      <li class="page-item">
        <a class="page-link" href="/kemantapan/jembatan/table?page=1">First</a>
      </li>
      <li class="page-item disabled">
        <span class="page-link">...</span>
      </li>
      <% } %> <% for (let i = Math.max(1, currentPage - 2); i <=
      Math.min(currentPage + 2, totPage); i++) { %>
      <li class="page-item <% if (currentPage === i) { %>active<% } %>">
        <a class="page-link" href="/kemantapan/jembatan/table?page=<%= i %>"
          ><%= i %></a
        >
      </li>
      <% } %> <% if (currentPage < totPage - 2) { %>
      <li class="page-item disabled">
        <span class="page-link">...</span>
      </li>
      <li class="page-item">
        <a
          class="page-link"
          href="/kemantapan/jembatan/table?page=<%= totPage %>"
          >Last</a
        >
      </li>
      <% } %>
    </ul>
    <% } else { %>
    <!-- Jika halaman tidak lebih dari 10, tampilkan semua nomor halaman -->
    <ul class="pagination">
      <% for (let i = 1; i <= totPage; i++) { %>
      <li class="page-item <% if (currentPage === i) { %>active<% } %>">
        <a class="page-link" href="/kemantapan/jembatan/table?page=<%= i %>"
          ><%= i %></a
        >
      </li>
      <% } %>
    </ul>
    <% } %>
  </nav>
</section>
